<!DOCTYPE html>
<html>
<head>
	<title>Songs | My Flask App</title>
	<!-- Include Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">My Flask App</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li><a href="{{ url_for('about') }}">About</a></li>
				<li><a href="{{ url_for('contact') }}">Contact</a></li>
				<li class="active"><a href="#">Songs</a></li>
				<li><a href="{{ url_for('albums') }}">Albums</a></li>
				<li><a href="{{ url_for('artists') }}">Artists</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<h1>Songs</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Artist</th>
					<th>Album</th>
				</tr>
			</thead>
			<tbody>
				{% for song in songs %}
				<tr>
					<td>{{ song.title }}</td>
					<td>{{ song.artist }}</td>
					<td>{{ song.album }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<!-- Include jQuery and Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
